# Den här filen innehåller vilka som ska få en automatiskt begäran om granskning av Pull Request.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/LICENSE.txt    @hp35
/morse.sty      @sikvall
/.github/**     @phieri
