name: Testa webbadresser

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "30 03 20 * *"

jobs:
  testa-webbadresser:
    if: github.event_name != 'schedule' || github.repository == 'SverigesSandareamatorer/SSA-Akademin'
    name: 'Testa webbadresser'
    runs-on: ubuntu-slim
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: lycheeverse/lychee-action@v2.7.0
        with:
          fail: true
          checkbox: false
          args: "--method head --max-concurrency 2 --accept 200,429 --no-progress './**/*.md' './**/*.tex' './koncept.bib'"
